body {
	margin:0;
	padding:0;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 26px;
}

#main {
	width:960px;
	margin:0 auto;
	h1 {
		font-size: 2.0em;
		font-weight:100;
		color: #333;
		small {
			font-size: 0.5em;
			font-weight: 400;
			color:#000;
		} 
		a {
			text-decoration: none;
			color:#000;
		}	
	}
	p {
		margin: 0.1em 0;
		a {
			color:#555;
			&:hover {
				color: #888;
			}
		}	
	}
}

footer {
	position:absolute;
	bottom:0;
	width:100%;
	img {
		display:block;
		margin:0 auto;
	}
}